$base-color: rgb(255, 253, 251);
$fav-color: #f0e4e4;

$alink: #2c2c2c;
$alink-hover: #ad6874;

$wide-maxwidth: 1000px;
$narrow-maxwidth: 800px;

$laptopLandscape: 750px;
$laptopPortrait: 600px;
$mobileLandscape: 500px;
$mobileProtrait: 450px;
